*.*.rvt
*.*.rte
*.*.rfa
*.ifc.log
*.bak
*.ifc.log.html
Ryan_Random_Tests/
Videos and Photos (added to gitignore)/
_CLOSED/
*.backup


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.log

# FreeCAD and Blender backup files
*.FcStd1
*.FcStd2
*.fcstd1
*.fcstd2
*.blend1
*.blend2

#Excel temporary files
~$*.xlsx

#AutoCAD temporary files
*.dwl*
/Research and CA/Research and Submittals/_Existing Conditions & Code Research/Existing Conditions/Videos/2018-06-06 15.31.20.mp4
/_CLOSED_Aalseth_Residence
/Transfer/20181128 - Video and Walkthrough/3196 Aalseth Lane - Walk-through Application.exe
/Transfer/20200903 - to Zillow - assets/Animation.mp4
/Transfer/20200615 - for mls - assets/Animation.mp4
/Models & CAD/BIM/Renderings/Untitled Project.mp4
/Models & CAD/BIM/Renderings/Enscape_2019-12-16-23-24-34.mp4
